/******Imangen shiny********/
.pokeball2{

  width: 500px;
  z-index: 0;
}

.image-container {
  text-align: center;
  margin-top: 0px;
  margin-left: 800px;
 display: grid;
 border: solid 2px;
 border-color: blue;

}
#toggleShiny {
  display: none;
}
.toggle-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* Estilo para la imagen normal */
.normal-image {
  display: block;
  width: 400px;
  z-index: 1;
 margin-top: -500px;
 margin-left: 100px;
}
/* Oculta la imagen brillante inicialmente */
.shiny-image {
  width: 400px;
  display: none;
 z-index: 1;
 margin-top: -500px;
 margin-left: 100px;
}
/* Cuando el checkbox está marcado, muestra la imagen brillante */
#toggleShiny:checked + .toggle-label .normal-image {
  display: none;
}  
#toggleShiny:checked + .toggle-label .shiny-image {
  display: block;
}
/*****************/


.ContainerEfectividad{
  color:black;
  border: 2px solid;
  border-color: blue;
  width: 500px;
  background-color: white;
  }


/******* Volteode de la descripcion y estadisticas*******/
.flip-card {
  background-color: transparent;
  width: 700px;
  height: 200px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }


.detalle{
  z-index: 1;
  width: 300px;
  margin-top:-400px;
  color: black;
}

.pokedex{
  z-index: 0;
  margin-top: 100px;
}
.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {

color: rgb(250, 250, 250);

}

/* Style the back side */

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  
  }
/****************************/

/*******Estaditicas poderes****************/

* {box-sizing: border-box}

.container {
  background-color: #ddd;
  * {box-sizing: border-box}
  
  }

  .skills {

    padding-top: 10px;
    padding-bottom: 10px;
    color: red;
    background-color: green;
    
    
    }

/****************************/
.h3{
  color: #ddd;
}
.tabla-movimientos-nivel{
  color: white;
}
.tabla-movimientos-maquina{
  color: white;
}
.texto-evoluciones{
  color: white;
}