/******Imangen shiny********/
.image-container {
  text-align: center;
  margin-top: -300px;
  margin-left: 600px;
 display: grid;
}
#toggleShiny {
  display: none;
}
.toggle-label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
/* Estilo para la imagen normal */
.normal-image {
  display: block;
  width: 400px;
  margin-right: 20px;
  margin-left: 80px;
}
/* Oculta la imagen brillante inicialmente */
.shiny-image {
  display: block;
  width: 400px;
  display: none;
  margin-right: 20px;
  margin-left: 80px;
}
/* Cuando el checkbox está marcado, muestra la imagen brillante */
#toggleShiny:checked + .toggle-label .normal-image {
  display: none;
}  
#toggleShiny:checked + .toggle-label .shiny-image {
  display: block;
}
/*****************/


.ContainerEfectividad{
color: white;
border: 2px solid;
border-color: blue;
width: 500px;
}


/******* Volteode de la descripcion y estadisticas*******/
.flip-card {
background-color: transparent;
width: 700px;
height: 200px;
perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.flip-card-inner {
position: relative;
width: 100%;
height: 100%;
text-align: center;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
position: absolute;
width: 100%;
height: 100%;
-webkit-backface-visibility: hidden; /* Safari */
backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
background-color: #ffffff;
color: black;

}

/* Style the back side */
.flip-card-back {
background-color: rgb(118, 12, 12);
color: white;
transform: rotateY(180deg);

}
/****************************/

/*******Estaditicas poderes****************/

* {box-sizing: border-box}

.container {
width: 0%;
background-color: #ddd;
* {box-sizing: border-box}
}

.skills {
text-align: right;
padding-top: 10px;
padding-bottom: 10px;
color: white;
}

/****************************/
.h3{
  color: #ddd;
}
.tabla-movimientos-nivel{
  color: white;
}
.tabla-movimientos-maquina{
  color: white;
}
.texto-evoluciones{
  color: white;
}