<!--<h1>Probando peticion a la API</h1>
<br>
<p>Nombre</p>
<input type="text" [(ngModel)] = "name">
<button (click)="cargaPokemon()">Buscar</button>

<img src="{{urlImage}}" alt="Foto Pokemon">
<p>Tipo: {{tipo}}</p>-->
<h1>Detalle del pokemon</h1>

<body>
    <div *ngIf="detallePokemon">
        <h2>ID: {{detallePokemon.id}}</h2>
        <h2>Nombre: {{ detallePokemon.name }}</h2>
        <p>Tipo/s: {{ detallePokemon.types }}</p>
        <p>Descripcion: {{ detallePokemon.descripcion }}</p>
        <p>Altura: {{ detallePokemon.altura }}</p>
        <p>Peso: {{ detallePokemon.peso }}</p>

        <table class="table" *ngFor="let tipo of efectividadSeleccionada">
            <thead class="thead-dark">
              
              <tr>
                <th>TABLA DE EFECTIVIDADES</th>
             </tr>
             <tr>
              <th>Muy eficaz: </th><td>{{auxMuyEf}}</td>
            </tr>
               <tr>
                <th>Eficaz: </th><td>{{tipo.EficazContra}}</td>
              </tr>
              <tr> 
                <th>Resistente: </th><td>{{tipo.DebilContra}}</td>
              </tr>
              <tr>
                <th>Muy resistente: </th><td>{{auxMuyRes}}</td>
              </tr>
               <tr>
                <th>No le afecta: </th><td>{{tipo.InmuneA}}</td>
              </tr>
            </thead>
          </table>
        <div>
            <img [src]="detallePokemon.image" alt="{{ detallePokemon.name }}">
            <img [src]="detallePokemon.imageShiny" alt="{{ detallePokemon.name }}">
        </div>

        <ul>
            <li><strong>Vida: </strong> {{ detallePokemon.vida }}</li>
            <li><strong>Velocidad: </strong> {{ detallePokemon.velocidad }}</li>
            <li><strong>Ataque: </strong> {{ detallePokemon.ataque }}</li>
            <li><strong>Ataque Especial: </strong> {{ detallePokemon.ataqueEspecial }}</li>
            <li><strong>Defensa: </strong> {{ detallePokemon.defensa }}</li>
            <li><strong>Defensa Especial: </strong> {{ detallePokemon.defensaEspecial }}</li>
        </ul>
        
    </div>
</body>