  

  



<div class="flip-card" *ngIf="detallePokemon">
  <div class="flip-card-inner"*ngIf="detallePokemon" >
       
       
      <div class="flip-card-front" *ngIf="detallePokemon">


       <div class="pokedex"> 
         <img src="../../assets/pokedex.png">
       </div>
      

        <div class="detalle">
         <p>ID: {{detallePokemon.id}}</p>
         <p>Nombre: {{ detallePokemon.name }}</p>
         <p>Tipo/s: {{ detallePokemon.types }}</p>
         <p>Descripcion: {{ detallePokemon.descripcion }}</p>
         <p>Altura: {{ detallePokemon.altura }}</p>
         <p>Peso: {{ detallePokemon.peso }}</p>
       </div>

      </div>
    <br>

      <div class="flip-card-back" *ngIf="detallePokemon">

        
        <div class="estadisticas">
          <p><u>ESTADISCTICAS</u></p>
        <p>Vida:</p> <div class="container"><div class="skills"[style.width]="barravida()">{{ detallePokemon.vida }}</div></div>
        <p>Velocidad:</p> <div class="container"><div class="skills"[style.width]="barravelocidad()">{{ detallePokemon.velocidad }}</div></div>
        <p>Ataque:</p> <div class="container"><div class="skills"[style.width]="barraataque()">{{ detallePokemon.ataque }}</div></div>
        <p>AtaqueEspecial</p> <div class="container"><div class="skills"[style.width]="barraAtaqueespecial()">{{ detallePokemon.ataqueEspecial }}</div></div>
        <p>Defensa:</p> <div class="container"><div class="skills"[style.width]="barradefensa()">{{ detallePokemon.defensa}}</div></div>
        <p>Vida:</p> <div class="container"><div class="skills"[style.width]="barraDefensaespecial()">{{ detallePokemon.defensaEspecial }}</div></div>
        </div>

      </div>

  </div>
</div>



<div *ngIf="detallePokemon" class="image-container">
  <input type="checkbox" id="toggleShiny">
  <label for="toggleShiny" class="toggle-label">
  <img class="pokeball2" src="../../assets/pokeball2.png">
  <img class="pokemon-image normal-image" [src]="detallePokemon.image" alt="{{ detallePokemon.name }}">
  <img class="pokemon-image shiny-image" [src]="detallePokemon.imageShiny" alt="{{ detallePokemon.name }}">
  </label>
  </div>
<br>

<div class="ContainerEfectividad">
        <table class="table" *ngFor="let tipo of efectividadSeleccionada">
            <thead class="thead-dark">
              
              <tr>
                <th>TABLA DE EFECTIVIDADES</th>
             </tr>
             <tr>
              <th>Muy eficaz: </th><td>{{auxMuyEf}}</td>
            </tr>
            <tr>
                <th>Eficaz: </th><td>{{tipo.EficazContra}}</td>
              </tr>
              <tr> 
                <th>Resistente: </th><td>{{tipo.DebilContra}}</td>
              </tr>
              <tr>
                <th>Muy resistente: </th><td>{{auxMuyRes}}</td>
              </tr>
               <tr>
                <th>No le afecta: </th><td>{{tipo.InmuneA}}</td>
              </tr>
            </thead>
          </table>
        </div>
  <br><br><br><br><br><br><br><br><br><br><br>

        <button class="boton-evolucion" (click)="evolucionar()">Ver Evoluciones</button>
        <div class="texto-evoluciones" *ngFor="let datospokemon of todasEvoluciones">
         <h3>{{datospokemon.name}}</h3>
         <p>Niveles a los que evoluciona: {{datospokemon.nivel}}</p>
         <img class="imagen-pokemon-evolucion" [src]="datospokemon.img" alt="{{datospokemon.name}}">
       </div>
       

      <div class="tabla-movimientos-nivel">
       <table>
        <caption>Movimientos por nivel</caption>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Categoría</th>
            <th>Potencia</th>
            <th>Precisión</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let movimiento of movimientosNivelOK">
            <td>{{movimiento.nombre}}</td>
            <td>{{movimiento.tipo}}</td>
            <td>{{movimiento.categoria}}</td>
            <td>{{movimiento.potencia}}</td>
            <td>{{movimiento.precision}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <br>

    <div class="tabla-movimientos-maquina">
      <table>
       <caption>Movimientos por maquina</caption>
       <thead>
         <tr>
           <th>Nombre</th>
           <th>Tipo</th>
           <th>Categoría</th>
           <th>Potencia</th>
           <th>Precisión</th>
         </tr>
       </thead>
       <tbody>
         <tr *ngFor="let movimiento of movimientosMaquinaOK">
           <td>{{movimiento.nombre}}</td>
           <td>{{movimiento.tipo}}</td>
           <td>{{movimiento.categoria}}</td>
           <td>{{movimiento.potencia}}</td>
           <td>{{movimiento.precision}}</td>
         </tr>
       </tbody>
     </table>
   </div>
  