
<!--- <img src="../../assets/fondo.jpg">-->
<div class="buscador-botones">
  <input class="cajatextobuscador" type="search" [(ngModel)]="nameP" placeholder="Nombre pokemon">
  <button class="buscar" (click)="buscador()">Buscar</button>
  <button class="buscar" (click)="cargar()">Volver a la lista</button>

  <div class="botones-generacion">
    <button class="1generacion">1ª Generación</button>
    <button class="2generacion">2ª Generación</button>
    <button class="3generacion">3ª Generación</button>
    <button class="4generacion">4ª Generación</button>
  </div>

  <div class="botones-tipo">
    <button class="normal">Normal</button>
    <button class="acero">Acero</button>
    <button class="agua">Agua</button>
    <button class="bicho">Bicho</button>
    <button class="dragon">Dragón</button>
    <button class="electrico">Eléctrico</button>
    <button class="fantasma">Fantasma</button>
    <button class="fuego">Fuego</button>
    <button class="hada">Hada</button>
    <button class="hielo">Hielo</button>
    <button class="lucha">Lucha</button>
    <button class="planta">Planta</button>
    <button class="psiquico">Psíquico</button>
    <button class="roca">Roca</button>
    <button class="siniestro">Siniestro</button>
    <button class="tierra">Tierra</button>
    <button class="volador">Volador</button>
  </div>

</div>

<div class="contenedor">
  <div class="pokemon-carta" *ngFor="let pokemon of pokemons">
    <div class="pokemon-image">
      <p class="pokemon-id">{{ pokemon.id | number:'3.0-0'}}</p> <!--asegura de que la ID del Pokémon tenga al menos tres dígitos rellenando con ceros a la izquierda  -->
      <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-img">
    </div>
    <div class="pokemon-detalles">
      <h2 class="pokemon-name">{{ pokemon.name }}</h2>
      <p class="pokemon-types">{{ pokemon.types.join(', ') }}</p>
    </div>
  </div>
</div>

