body {
  font-family: 'Arial', sans-serif;
  background-image: url(../../assets/fondo.jpg);
  margin-top: -20px;
  margin-left: -20px;
  margin-right:-20px;
}

.buscador-botones {
  display: flex;
  align-items: center;
  
}

.titulo {
  text-align: center;
  color: #333;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 2%;
  
}

.pokemon-carta {
  background-color: #323131;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(255, 3, 3, 0.1);
  margin: 20px;
  overflow: hidden;
  width: 250px;
  box-sizing: border-box;
  
  margin-bottom: 16px;

}


.pokemon-carta:hover {
  background-color: #d3b024;
  border-radius: 10%;
  border: 5px solid color(red green blue);
  border-color: white;
}

.pokemon-image {
  position: relative;
}

.pokemon-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #4f4c4e, #6e6e6d);
  opacity: 0.3;
  z-index: 1;
}

.pokemon-id {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  z-index: 4;
}

.pokemon-img {
  width: 100%;
  height: auto;
  display: block;
}

.pokemon-detalles {
  padding: 10px;
  text-align: center;
}

.pokemon-detalles h2 {
  padding: 15px;
  text-transform: capitalize;
}

.pokemon-name {
  color: #ffffff;
  margin-top: 0;
  transition: color 0.3s ease-in-out;
}

.pokemon-types {
  color: #ffffff;
  margin-bottom: 0;
  border-radius: 3px;
}

/* ------------------------------------------------------------*/
.botones-tipo {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.botones-tipo button {
  background-color: #f8d030;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 8px 12px; 
  margin: 5px;
  cursor: pointer;
  font-size: 14px;
}

.buscador-botones {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-top: 20px; 
  
}

.botones-tipo {
  margin-bottom: 10px; 
}


.botones-tipo button {
  padding: 6px 10px; 
  font-size: 12px;

}


/************ Estilos generales de los botones ******************/
.boton-generacion {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s, color 0.3s;
   padding: 6px 10px; 
  font-size: 12px;
}

/****************** Estilos para cada generación ************************/
.generacion1{
  background-color: #ffcb05;
  color: black;
}

.generacion2 {
  background-color: #8bc34a;
  color: black;
}

.generacion3 {
  background-color: #03a9f4;
  color: black;
}

.generacion4 {
  background-color: #e91e63;
  color: black;
}

.todasGeneraciones {
  background-color: #9c27b0;
  color: black;
}

.reset {
  background-color: #607d8b;
  color: black;
}


.boton-generacion:hover {
  opacity: 0.8;
}

.boton-generacion:active {
  transform: translateY(2px);
}



/************************buscador*********************/

.cajatextobuscador {
  margin-top: 10px;
  background: none;
  text-align: left;
  color: var(--text-color);
  width: 50%;
  height: 50%;
  font-size: 2rem;
  border: auto;
  color: white;
}
.cajatextobuscador::placeholder {
  color: #999;
}
.cajatextobuscador:hover {
  border-color: #ff0505;
}
.cajatextobuscador:focus {
  border-color: #ff0000;
  box-shadow: 0 0 5px #ff0000;
}
/***************************************************/



/************************** Estilo de los nombres de tipos que hay *******************/

.fire{
  background:  rgba(240, 128, 48);
  border-radius: 20px;
  text-transform: capitalize;
}

.normal{
  background: rgba(168, 168, 120);
  border-radius: 20px;
  text-transform: capitalize;
}

.water{
   background: rgba(104, 144, 240);
   border-radius: 20px;
   text-transform: capitalize;
  }

.electric{
   background: rgba(248, 208, 48);
   border-radius: 20px;
   text-transform: capitalize;
  }
   

.grass{
   background: rgba(120, 200, 80);
   border-radius: 20px;
   text-transform: capitalize;
  }

.ice{
   background: rgba(152, 216, 216);
   border-radius: 20px;
   text-transform: capitalize;
  }

.fighting{ 
  background: rgba(192, 48, 40);
  border-radius: 20px;
  text-transform: capitalize;
}

.poison{ 
  background: rgba(160, 64, 160);
  border-radius: 20px;
  text-transform: capitalize;
}

.ground{
   background: rgba(224, 192, 104);
   border-radius: 20px;
   text-transform: capitalize;
  }

.flying{
   background: rgba(168, 144, 240);
   border-radius: 20px;
   text-transform: capitalize;
  }

.psychic{ 
  background: rgba(248, 88, 136);
  border-radius: 20px;
  text-transform: capitalize;
}
.bug{ 
  background: rgba(168, 184, 32);
  border-radius: 20px;
  text-transform: capitalize;
}

.rock{ 
  background: rgba(184, 160, 56);
  border-radius: 20px;
  text-transform: capitalize;
}

.ghost{
   background: rgba(112, 88, 152);
   border-radius: 20px;
   text-transform: capitalize;
  }

.dragon{
   background: rgba(112, 56, 248);
   border-radius: 20px;
   text-transform: capitalize;
  }

  .fairy{
    background: rgba(238, 153, 172);
    border-radius: 20px;
    text-transform: capitalize;
   }


   .steel{
    background: rgba(184, 184, 208);
    border-radius: 20px;
    text-transform: capitalize;
   }

   .dark{
    background: rgba(112, 88, 72);
    border-radius: 20px;
    text-transform: capitalize;
   }



   /***************** Estilo de los botones de tipos  ******************************/

   
  .botones-tipo button.acero {
    background-color: #b8b8d0; 
    color: black; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.agua {
    background-color: #6890f0; 
    color: #fff;
    text-transform: capitalize;
  }
  
  .botones-tipo button.bicho {
    background-color: #a8b820; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.dragon {
    background-color: #7038f8; 
    color: #fff;
    text-transform: capitalize;
  }
  
  .botones-tipo button.electrico {
    background-color: #f8d030; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.fantasma {
    background-color: #705898; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.fuego {
    background-color: #f08030; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.hada {
    background-color: #ee99ac; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.hielo {
    background-color: #98d8d8; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.lucha {
    background-color: #c03028; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.normal {
    background-color: #a8a878; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.planta {
    background-color: #78c850; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.psiquico {
    background-color: #f85888; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.roca {
    background-color: #b8a038; 
    color: #000;
    text-transform: capitalize;
  }
  
  .botones-tipo button.siniestro {
    background-color: #705848;
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.tierra {
    background-color: #e0c068; 
    color: #000; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.veneno {
    background-color: #a040a0; 
    color: #fff; 
    text-transform: capitalize;
  }
  
  .botones-tipo button.volador {
    background-color: #a890f0; 
    color: #000; 
    text-transform: capitalize;
  }
  

  @media (min-width:768px) {



  }
 
  
