
<!--- <img src="../../assets/fondo.jpg">-->
<div class="buscador-botones">

  <div class="botones-generacion">
    <button class="1generacion" (click)="generacion(0,151)">1st Generation</button>
    <button class="2generacion" (click)="generacion(151,251)">2nd Generation</button>
    <button class="3generacion" (click)="generacion(251,386)">3rd Generation</button>
    <button class="4generacion" (click)="generacion(386,493)">4th Generation</button>
    <button class="todasGeneraciones" (click)="generacion(0,493)">1st to 4th Generation</button>
    <button class="reset" (click)="reset()">Reset Complete List</button>
  </div>

  <input class="cajatextobuscador" type="search" [(ngModel)]="nameP" (ngModelChange)="buscador()" placeholder="Name pokemon">

  <div class="botones-tipo">
    <button class="acero" (click)="tipos('steel')">Steel</button>
  <button class="agua" (click)="tipos('water')">Water</button>
  <button class="bicho" (click)="tipos('bug')">Bug</button>
  <button class="dragon" (click)="tipos('dragon')">Dragon</button>
  <button class="electrico" (click)="tipos('electric')">Electric</button>
  <button class="fantasma" (click)="tipos('ghost')">Ghost</button>
  <button class="fuego" (click)="tipos('fire')">Fire</button>
  <button class="hada" (click)="tipos('fairy')">Fairy</button>
  <button class="hielo" (click)="tipos('ice')">Ice</button>
  <button class="lucha" (click)="tipos('fighting')">Fighting</button>
  <button class="normal" (click)="tipos('normal')">Normal</button>
  <button class="planta" (click)="tipos('grass')">Grass</button>
  <button class="psiquico" (click)="tipos('psychic')">Psychic</button>
  <button class="roca" (click)="tipos('rock')">Rock</button>
  <button class="siniestro" (click)="tipos('dark')">Dark</button>
  <button class="tierra" (click)="tipos('ground')">Ground</button>
  <button class="veneno" (click)="tipos('poison')">Poison</button>
  <button class="volador" (click)="tipos('flying')">Flying</button>
  </div>

</div>

<div class="contenedor">
  <div class="pokemon-carta" *ngFor="let pokemon of pokemons" [routerLink]="['/detalle', pokemon.id]">
    <div class="pokemon-image">
      <p class="pokemon-id">{{ pokemon.id | number:'3.0-0'}}</p> <!--asegura de que la ID del Pokémon tenga al menos tres dígitos rellenando con ceros a la izquierda  -->
      <img [src]="pokemon.image" alt="{{ pokemon.name }}" class="pokemon-img">
    </div>
    <div class="pokemon-detalles">
      <h2 class="pokemon-name">{{ pokemon.name }}</h2>
      <div  class="{{ type }} " *ngFor="let type of pokemon.types" > {{ type }}</div>
    </div>
  </div>
</div>

  