
.titulo{
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
  }
  .contenedor {
    grid-template-columns: 1fr 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px; /* Espacio entre columnas */
    row-gap: 50px; /* Espacio entre filas */
  }
  .pokemon-carta {
    border: 1px solid #de1515;
    border-radius: 20px;
    padding: 5px;
    width: 100%;
  }

  .pokemon-image img {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    
  }
  .pokemon-detalles {
    padding: 10px;
    text-align: center;
  }

  .pokemon-detalles h2 {
    font-size: 50px;
    margin: 5px 0;
    text-transform: capitalize;
  }
 