*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--clr-black);
    font-family: 'Rubik', sans-serif;
}
body {
    min-height: 50vh;
    background-color: white;
}

header {
    padding-block: 1rem;
    box-shadow: 0 0 2rem -1rem rgba(0, 0, 0, .5);
}

main {
    padding: 2rem;
}

.all-pokemon {
    display: grid;
    grid-template-columns:1fr;
    gap: 1rem;
}
@media screen and (min-widht: 450px) {
 .all-pokemon{
    grid-template-columns: 1fr 1fr;
 }
}

.pokemon {
    border-radius: 1rem;
    background-color: var(--clr-white);
    box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
    padding-block: 1rem;
    text-transform: uppercase;
    position: relative;
    isolation: isolate;
    overflow: hidden;
}


/*.pokemon-id-back{
    position: absolute;
    top: 1rem;
    left: 50%;
    font-size: 6rem;
    font-weight: 800;
    z-index: -1;
    transform: translateX(-50%);
    color: var(--clr-gray);
}*/
.pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
}

.pokemon-id {
    background-color: rgb(205, 203, 203);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .75rem;
    font-weight: 500;
}

.type-pokemon {
    display: flex;
    gap: .5rem;
    font-size: .75rem;
    font-weight: 500;
    flex-wrap: wrap;
    justify-content: center;
}

.type {
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.container-name {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
}

.pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .85rem;
}

.stat {
    background-color: rgb(205, 203, 203);
    padding: .25rem .5rem;
    border-radius: 100vmax;
}

.image-pokemon {
    padding-inline: 1rem;
    display: flex;
    justify-content: center;
}

.image-pokemon img {
    width: 100%;
    max-width: 6rem;
}

div {
    display: block;
}