body {
    text-align: center;
}

.contenedor {
    text-align: center;
    /* Alinea el contenido del contenedor al centro */
}

.titulo {
    width: 500px;
}

.cabecera {
    display: inline-block;
}

.imagen-izquierda {
    width: 200px;
    /* Ajusta el tamaño deseado */
    display: inline-block;

}

.imagen-derecha {
    width: 200px;
    /* Ajusta el tamaño deseado */
    display: inline-block;

}