<div class="contenedor">
  <div class="cabecera">


    <img class="pokeball" src="../../assets/pokeballnormal.png">
    <img class="superball" src="../../assets/superball.png">

    <img class="titulo" src="../../assets/pokemon.png">
    
    <img class="ultraball" src="../../assets/ultraball.png">
    <img class="masterball" src="../../assets/masterball.png">


    <div class="botones">
      <button class="tema" id="cambiarTema">Modo Oscuro</button>
      <!--<button class="idioma" id="cambiarIdioma" (click)="idioma($event)">Español</button>-->
      <select (change)="idioma($event)">
        <option *ngFor="let opcion of opciones" [value]="opcion.valor">{{ opcion.muestra }}</option>
      </select>
    </div>

  </div>
</div>